<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyb.demo.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.gyb.demo.bean.Student">
    <id column="student_s_id" jdbcType="VARCHAR" property="sId" />
    <result column="student_s_name" jdbcType="VARCHAR" property="sName" />
    <result column="student_s_birth" jdbcType="VARCHAR" property="sBirth" />
    <result column="student_s_sex" jdbcType="VARCHAR" property="sSex" />
  </resultMap>

</mapper>